body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
	font-family: 'Helvetica', Arial, sans-serif;
}
.main {
    display: grid;
    grid-template-areas:
        "header header"
        "text photo";
    grid-template-columns: 1fr 1fr;

    padding: 0px 100px;

    align-items: start;
    min-height: calc(100vh - 70px);
}

.main__header {
    grid-area: header;
    text-align: left;
    font-size: 26px;
    position: absolute;
    bottom: 120px;
    padding-left: 120px;
}

.main__image {
    grid-area: photo;
    display: grid;
    place-items: center;
    height: 100%;
    position: relative;
    right: 40px;
	top: -40px;
}

.main__image img {
    max-width: 100%;
    height: auto;
}

.main__text {
    grid-area: text;
    font-size: 20px;
    line-height: 1.5;
    color: black;
    display: grid;
    justify-items: start;
    padding-left: 120px;
}

@media (max-width: 768px) {
    .main {
        grid-template-areas:
            "header"
            "photo"
            "text";
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 40px;
        padding-bottom: 90px;
        min-height: calc(100vh - 70px);
    }

    .main__header {
        position: relative;
        bottom: auto;
        padding-left: 0;
        text-align: center;
    }

    .main__image {
        position: relative;
        right: 0;
    }

    .main__text {
        padding-left: 0;
        text-align: center;
    }

}
